.modal-header {
  background-color: #214806;
  color: white;
}

.button {
    background-color: #c7e0b2;
    border: 1px solid #253c28;
    color: #253c28;
    padding: 10px;
}

.form-control {
  border: 2px solid #0854a0;
}

.form-control[readonly] {
    background-color: #bed8f2;
    opacity: 1;
}

.btn-primary:disabled {
    color: #fff;
    background-color: #93af94;
    border-color: #93af94;
}
